* {
    margin: 0;
    padding: 0;
}

.menu {

    background: #3e8f3e;
    text-align: center;
    overflow: hidden;
}
.menu ul{
    list-style-type: none;
}
.menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}
.menu ul li:hover{
    background: #00cc66;
}

.li-menu {

    float: left;
    width: 100px;
    height: 50px;
    line-height: 50px;
}